<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">What's For Dinner!?</a>
    <div style="list-style-type: none;">
    <% if (!currentUser) { %>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <% } else { %>
          <li class="nav-item">
            <a href="/auth/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a href="/user/dashboard">User Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="/profile">Profile</a>
          </li>
          
          <li class="nav-item">
            <a href="/user/favorites">My favorites</a>
          </li>
          
          <% } %>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/recipe/">Explore Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/calendar">Meal Planning Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About Us</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>