<div class="card" style="width: 18rem;">
    <h3 class="card-title"><%= recipe.name %> </h3>
  <img src="<%= recipe.picture  %> " class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> Serving Size: <%= recipe.servings %> </p>
    <p class="card-text"> Prep Time (in minutes): <%= recipe.preptime %> </p>
    <a href="#" class="btn btn-danger">Add Favorite&#10084;&#65039;</a>
    <a href="/recipe/details" class="btn btn-warning">More Details</a>
  </div>
</div>