* { 
  box-sizing: border-box; 
}

#body-container {
  background-color:white;
  min-height:100vh;
}
body {
  margin:0;
  background-color: rgba(232, 250, 232, 0.377);
  text-align: center;
  background-image:url('../img/black-table-pizza-translucent.png');
  background-size:contain;
}

/* Navbar styling */
nav{
  padding:0 !important;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

#navbar-user-name{
  padding-left: 15px;
}



/* Recipe Card CSS */
.card-body, .card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:15px auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color:white;
  color:rgb(43, 56, 26);
}

.card-image{
  overflow:hidden;
  height:333px;
  width:100%;
}

.card-image>img {
  max-width: 333px;
  max-height: 320px;
}



/* Details page styling */

.details-image{
  max-width: 333px;
  max-height: 320px;
}



/* Styling for individual items */
.app-name{
  color:rgb(84, 154, 84);
  font-family: 'Pacifico', cursive;
  font-size:50px;
}

.user-name{
  font-family: 'Architects Daughter', cursive;
  font-size:1.2rem;
}

.accordion-header{
  font-weight:bold;
  color:rgb(84, 154, 84);
}

li {
  padding: 5px;
}

h1 {
  color:rgb(84, 154, 84);
}

a, h2, h3, .page-title {
  color:rgb(84, 154, 84);
}

input {
  width: 275px;
}

.page-title, .no-plan-section{
  font-family: 'Architects Daughter', cursive;
}

.no-plan-section>h3{
  color:black;
}

