<h1>Your meals here</h1>

<%recipesList.forEach((recipe, index)=> { %>
    <div>
        <% console.log(">>>>>>>>", day[index]) %> 
        <% if (day[index] === 1) { %>
            Monday:
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
    </div>
<% }) %>
