<% const dayArray = ['Monday', 'Tuesday', "Wednesday", "Thursday", "Friday", "Saturday" , "Sunday"] %> 
<% const daysUsed = [false, false, false, false, false, false, false] %> 

<% recipesList.forEach((recipe, index)=> { %>
    <% const currentDay = recipe.day -1 %> 
    <h2><%= dayArray[currentDay] %> </h2>
    <%- include('../partials/recipeCard', {recipe:recipe, isFavorite:isFavorite}) %>
    <% daysUsed[currentDay] = true %> 
<% }) %>

<br>
<h2>You didn't to plan a meal for these day(s): </h2>
<hr>
<% for (let i = 0; i < daysUsed.length; i++) { %>
    <% if (!daysUsed[i]) { %>
        <h2><%= dayArray[i] %> </h2>
        <a href="/user/favorites">Add meal here!</a>
    <%}%>
<% } %> 