<div>
    
    <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Select which day
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Monday</a></li>
          <li><a class="dropdown-item" href="#">Tuesday</a></li>
          <li><a class="dropdown-item" href="#">Wednesday</a></li>
          <li><a class="dropdown-item" href="#">Thursday</a></li>
          <li><a class="dropdown-item" href="#">Friday</a></li>
          <li><a class="dropdown-item" href="#">Saturday</a></li>
          <li><a class="dropdown-item" href="#">Sunday</a></li>
        </ul>
    </div>
    <h2>My meal for today is:</h2>

</div>
<div>
    <h1>Check out these recipes</h1>
    <ul>
        <% recipes.forEach((recipe) => { %> 
            <li style="list-style-type: none;">
                <%- include('../partials/recipeCard', {recipe:recipe})  %> 
            </li>
        <% }) %>
    </ul>
    <form method="GET" action="/recipe">
        <button type="submit">See more recipes</button>
    </form>
</div> 

<div>
    <h2>My favorites</h2>
    <ul>
        <% userFavorites.forEach((favoriteRecipe) => { %> 
            <li style="list-style-type: none;">
                <%- include('../partials/recipeCard', {recipe:favoriteRecipe, isFavorite:isFavorite})  %> 
            </li>
        <% }) %>
    </ul>
    <form method="GET" action="/user/favorites">
        <button type="submit">See more favorites</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>