<div class="row">
    <div class="col-6">
        <div class="border border-success border-1">
            <h2>My Favorites</h2>
            <ul>
                <% userFavorites.forEach((favoriteRecipe) => { %> 
                    <li style="list-style-type: none;">
                        <%- include('../partials/recipeCard', {recipe:favoriteRecipe, isFavorite:isFavorite})  %> 
                    </li>
                <% }) %>
            </ul>
            <form method="GET" action="/user/favorites">
                <button class="btn btn-outline-success"type="submit" style="margin-bottom:10px;">See more favorites</button>
            </form>
        </div>
    </div> 
    <div class="col-6">
        <div class="calendar-section border border-success border-1">
            <p>See what your meal for today is!</p>
            <a href="/user/calendar">Calendar</a>
        </div>
        <div class="random-recipe-section border border-success border-1" style="margin-top:10px;">
            <h2>Check out these recipes!</h2>
            <ul>
                <% if (recipes) { %>
                    <% recipes.forEach((recipe) => { %> 
                        <li style="list-style-type: none;">
                            <%- include('../partials/recipeCard', {recipe:recipe, isFavorite:isFavorite}) %> 
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>Wow! You have favorited all the recipes! There are no more recipes in our database to check out! :O </li>
                <% } %>
            </ul>
            <form method="GET" action="/recipe">
                <button class="btn btn-outline-success"type="submit" style="margin-bottom:10px;">See more recipes</button>
            </form>
        </div>
    </div>
</div>



<script src="/js/dashboard.js"></script>