
<div>
    <h1>Check out these recipes</h1>
    <ul>
        <% recipes.forEach((recipe) => { %> 
            <li style="list-style-type: none;">
                <%- include('../partials/recipeCard', {recipe:recipe})  %> 
            </li>
        <% }) %>
    </ul>
    <form method="GET" action="/recipe">
        <button type="submit">See more recipes</button>
    </form>
</div> 

<div>
    <h2>My favorites</h2>
    <p>THIS IS THE FAVORITE RECIPE NAME<%=userFavorites%><%=console.log(userFavorites)%> ??? </p>
    <ul>
        <% userFavorites.forEach((favoriteRecipe) => { %> 
            <li style="list-style-type: none;">
                <%- include('../partials/recipeCard', {recipe:favoriteRecipe})  %> 
            </li>
        <% }) %>
    </ul>
    <form method="GET" action="/user/favorites">
        <button type="submit">See more favorites</button>
    </form>
</div>