<div>
    
    <div class="dropdown">
        
        <select class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <option class="btn btn-outline-dark dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select which day
            </option>
            <option class="dropdown-item">Monday</option>
            <option class="dropdown-item">Tuesday</option>
            <option class="dropdown-item">Wednesday</option>
            <option class="dropdown-item">Thursday</option>
            <option class="dropdown-item">Friday</option>
            <option class="dropdown-item">Saturday</option>
            <option class="dropdown-item">Sunday</option>
        </select>
    </div>
    <h2>My meal for today is:</h2>

</div>
<div>
    <h1>Check out these recipes</h1>
    <ul>
        <% recipes.forEach((recipe) => { %> 
            <li style="list-style-type: none;">
                <%- include('../partials/recipeCard', {recipe:recipe}) %> 
            </li>
        <% }) %>
    </ul>
    <form method="GET" action="/recipe">
        <button type="submit">See more recipes</button>
    </form>
</div> 

<div>
    <h2>My favorites</h2>
    <ul>
        <% userFavorites.forEach((favoriteRecipe) => { %> 
            <li style="list-style-type: none;">
                <%- include('../partials/recipeCard', {recipe:favoriteRecipe, isFavorite:isFavorite})  %> 
            </li>
        <% }) %>
    </ul>
    <form method="GET" action="/user/favorites">
        <button type="submit">See more favorites</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>