<h1>Favorites</h1>
<div class="row">
    <%favoritesList.forEach(favorite=> { %>
        <div class="col-md-6">
            <%- include('../partials/recipeCard', {recipe:favorite, isFavorite:isFavorite}) %>
        </div>
    <% }) %>
</div>