<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<p>Your name is <%=user.name.charAt(0).toUpperCase() + user.name.slice(1)%></p>
<form method="Get" action="/user/profile/edit">
    <button type="submit">Edit</button>
</form>