<link rel="stylesheet" type="text/css"href="/css/landing.css">

<div class="welcome-box">
    <div>
        <h1 class="app-name"><span>MealHack</span></h1>
    </div>
    <div class="landing-page">
        <h2><span class="">Find out what to eat this week!</span></h2>
        <form method="GET" action="/recipe">
            <button class="btn btn-outline-success"type="submit">
                Explore More!
            </button>
        </form>
    </div>
</div>

