<div>
    <h2>How To Make It!</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= recipeDeets.recipes.dataValues.name %> </h5>
              <img src="<%= recipeDeets.recipes.dataValues.picture %> " alt="yummy photo of recipe">
                <ol>
                    <% recipeDeets.instructions.forEach(instruction => { %>
                        <li> <%= instruction.dataValues.stepNumber %>. <%= instruction.dataValues.step %></li>
                    <% }) %>
                </ol>
              <a href="#" class="btn btn-success">Add to Favorites &#128156;</a>
              <a href="#" class="btn btn-success">I Like This</a>
            </div>
          </div>
        </div>
</div>