
<br>
<h1>Explore recipes to find what to cook!</h1>
<hr>

<form method="GET" action="/recipe/searchbyName"class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search By Name" aria-label="Search" id="searchByName" name="nameSearch">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<form method="GET" action="/recipe/searchByIngredient"class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Ingredient Search" aria-label="Search" id="searchByIngredient" name="ingredientSearch">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<% recipes.forEach((recipe) => { %> 
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <li style="list-style-type: none;">
                    <%- include('../partials/recipeCard', {recipe: recipe}) %> 
                </li>
            </div>
        </div>
    </div>
</div>
<% }) %>

