<<<<<<< HEAD
<div class="card">
    <%- include('../partials/recipeCard', {recipe: recipe, isFavorite: null}) %> 
</div>
=======

            <%- include('../partials/recipeCard', {recipe: recipe, isFavorite:null}) %> 
>>>>>>> submain
